<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disk</title>
    <link rel="stylesheet" href="/static/css/disk.css">
</head>
<body>
    <table id="table" style="display: none;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Url</th>
            <th>Accesses</th>
            <th>
                delete
            </th>
        </tr>
        {% for file in data %}
        <tr>
            <td>
                {{ file['file_id'] }}
            </td>
            <td>
                {{ file['name'] }}
            </td>
            <td>
                <a href="{{ file['url'] }}">{{ file['url'] }}</a>
            </td>
            <td>
                <table>
                    <tr>
                        <th>
                            fullname
                        </th>
                        <th>
                            email
                        </th>
                        <th>
                            type
                        </th>
                        <th>
                            delete
                        </th>
                </table>
                {% for access in file['accesses'] %}
                    <table>
                        <tr>
                            <td>
                                {{ access['fullname'] }}
                            </td>
                            <td>
                                {{ access['email'] }}
                            </td>
                            <td>
                                {{ access['type'] }}
                            </td>
                            <td>
                            {% if access['type'] == 'co-author' %}
                                <button onclick="deleteAccess({{ file['file_id'] }},'{{ access['email'] }}')">Delete</button>
                            {% endif %}
                            </td>
                    </table>
                {% endfor %}
            </td>
            <td>
                <button onclick="deleteFile({{ file['file_id'] }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<script src="/static/js/disk.js"></script>
</html>