<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorldSkills-Api</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <a href="/registration"><button><p>Регистрация</p></button></a>
    <a href="/authorization"><button><p>Авторизация</p></button></a>
    <button id="Logout"><p>Выход</p></button>
    <a href="/files/diskpage"><button><p>files/disk</p></button></a>
    <a href="/files/sharedpage"><button><p>files/shared</p></button></a>
    <a href="/files/upload"><button><p>Загрузить файл</p></button></a>
    <a href="/files/accesses/grant"><button><p>Выдача доступа к файлу</p></button></a>
    <a href="/documentation"><button><p>Документация</p></button></a>
</body>
<script src="/static/js/index.js"></script>
</html>